.DS_Store
data/
tertiary_structure_prediction/data/
.vscode
.ipynb_checkpoints
*/.ipynb_checkpoints/*
__pychache__
*/.cpython-36.pyc/*
*.pyc
tertiary_structure_prediction/visualization/test_visualization/plots/
tertiary_structure_prediction/models/cull1/Logs/
tertiary_structure_prediction/models/cull1/best_weight/
tertiary_structure_prediction/visualization/test_visualization/coordinate_prediction/