.DS_Store
.vscode
.ipynb_checkpoints
*/.ipynb_checkpoints/*
__pychache__
*/.cpython-36.pyc/*
*.pyc
*.h5
*.local
*.egg-info
dist/
build/
DeepProteinPred/data/*
!DeepProteinPred/data/.gitkeep
DeepProteinPred/visualization/model_visualization/plots/
DeepProteinPred/visualization/model_visualization/coordinate_prediction/
DeepProteinPred/models/cull1/Logs/
DeepProteinPred/models/cull1/best_weight/